<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    body {
      background: #090229;
    }

    .banner {
      background: #a770ef;
      background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
      background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);

    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- My Customed CSS -->
  <link rel="stylesheet" href="/static/style.css">


  {%load static%}
  <link rel="stylesheet" type="text/css" href="{% static " /style.css" %}">
  <title>Display Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">PARK WITH EASE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entry">Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="exit">Exit</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/display">Display</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-primary text-white float-right" type="button" href="/logout">Log Out</a>
  </nav>

  <div class="container-fluid">
    <div class="mt-3">
      <div class="row">

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 1</a></h5>
              <p class="small text-muted mb-0">ROW 1 POSTION 1</p>
              {% if p1.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p1.vehicle_no}}</p>
                <p>OWNER NAME: {{p1.owner_name}}</p>
                <p>INTIME: {{p1.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 2</a></h5>
              <p class="small text-muted mb-0">ROW 1 POSTION 2</p>
              {% if p2.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p2.vehicle_no}}</p>
                <p>OWNER NAME: {{p2.owner_name}}</p>
                <p>INTIME: {{p2.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 3</a></h5>
              <p class="small text-muted mb-0">ROW 1 POSTION 3</p>
              {% if p3.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p3.vehicle_no}}</p>
                <p>OWNER NAME: {{p3.owner_name}}</p>
                <p>INTIME: {{p3.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 4</a></h5>
              <p class="small text-muted mb-0">ROW 1 POSTION 4</p>
              {% if p4.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p4.vehicle_no}}</p>
                <p>OWNER NAME: {{p4.owner_name}}</p>
                <p>INTIME: {{p4.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 5</a></h5>
              <p class="small text-muted mb-0">ROW 2 POSTION 1</p>
              {% if p5.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p5.vehicle_no}}</p>
                <p>OWNER NAME: {{p5.owner_name}}</p>
                <p>INTIME: {{p5.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 6</a></h5>
              <p class="small text-muted mb-0">ROW 2 POSTION 2</p>
              {% if p6.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p6.vehicle_no}}</p>
                <p>OWNER NAME: {{p6.owner_name}}</p>
                <p>INTIME: {{p6.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 7</a></h5>
              <p class="small text-muted mb-0">ROW 2 POSTION 3</p>
              {% if p7.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p7.vehicle_no}}</p>
                <p>OWNER NAME: {{p7.owner_name}}</p>
                <p>INTIME: {{p7.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 8</a></h5>
              <p class="small text-muted mb-0">ROW 2 POSTION 4</p>
              {% if p8.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p8.vehicle_no}}</p>
                <p>OWNER NAME: {{p8.owner_name}}</p>
                <p>INTIME: {{p8.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 9</a></h5>
              <p class="small text-muted mb-0">ROW 3 POSTION 1</p>
              {% if p9.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p9.vehicle_no}}</p>
                <p>OWNER NAME: {{p9.owner_name}}</p>
                <p>INTIME: {{p9.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 10</a></h5>
              <p class="small text-muted mb-0">ROW 3 POSTION 2</p>
              {% if p10.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p10.vehicle_no}}</p>
                <p>OWNER NAME: {{p10.owner_name}}</p>
                <p>INTIME: {{p10.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 11</a></h5>
              <p class="small text-muted mb-0">ROW 3 POSTION 3</p>
              {% if p11.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p11.vehicle_no}}</p>
                <p>OWNER NAME: {{p11.owner_name}}</p>
                <p>INTIME: {{p11.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Gallery item -->
        <div class="col-3 mb-4">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">PARKING SPOT 12</a></h5>
              <p class="small text-muted mb-0">ROW 3 POSTION 4</p>
              {% if p12.occupancy == 1 %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>VEHICLE NO: {{p12.vehicle_no}}</p>
                <p>OWNER NAME: {{p12.owner_name}}</p>
                <p>INTIME: {{p12.in_time}}</p>
              </div>
              {% else %}
              <div class="align-items-center justify-content-between bg-light px-3 py-2 mt-4">
                <p>&nbsp;</p>
                <p>{{vac}}</p>
                <p>&nbsp;</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End -->



      </div>
      <!-- <div class="py-5 text-right"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div> -->
    </div>
  </div>

</body>

</html>